[submodule "neorv32"]
	path = submodules/neorv32
	url = https://github.com/stnolting/neorv32.git
[submodule "FreeRTOS-Kernel"]
	path = submodules/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "submodules/neorv32-insper"]
	path = submodules/neorv32-insper
	url = https://github.com/victorlga/neorv32-insper.git
